@import 'variables';

body {
  color: $bright-color;
  margin: 0;
  font-family: $font-stack;
}

.app {
  width: 100%;
}

.app > .header {
  position: absolute;
  width: 100%;
  z-index: 100;
}

.app > .content {
  &.background-home { background: #bde4a7 }
  &.background-shop { background: #9fbbcc }
  &.background-register { background: #d2ab99 }
  &.background-faq { background: #9fbbcc }
  &.background-blog { background: #bde4a7 }
}

.homepage {
  height: 200vh;
  .content {
    width: 100%;
    height: 100%;
  }

  .section {
    width: 100%;
    height: 100vh;
  }
}

.shoppage {
  height: 200vh;
  .content {
    width: 100%;
    height: 100%;
  }

  .section {
    width: 100%;
    height: 200vh;
  }
}

.registerpage, .faqpage, .blogpage {
  height: 100vh;
  .content {
    width: 100%;
    height: 100%;
  }
  .section {
    width: 100%;
    height: 100vh;
  }
}