@import 'variables';

.ui.secondary.pointing.menu.navbar {
  border-bottom: none;
  padding: 0px 40px;
  font-family: inherit;
  font-size: 1.3rem;
  height: 58px;
  transition: background-color 0.8s;
  margin-right: calc(-1 * (100vw - 100%));
  &.fixed {
    opacity: 0.88;
    background-color: $primary-color;
    border-bottom: 2px solid rgba(34,36,38,.15);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    transition: background-color 0.8s;
    .navbar-link {
      &:hover {
        color: $bright-color;
      }
      &.active {
        border-color: $bright-color;
        color: $bright-color;
        transition: all 1.2s;
      }
    }
  }
  .navbar-misc {
    font-size: 0.8rem;
    float: right;
    margin-right: calc(-1 * (100vw - 105%));
    .navbar-search {
      margin-right: 20px;
    }
  }
  .navbar-title {
    float: left;
    margin-top: 18px;
    font-size: 2rem;
    font-weight: bold;
    color: floralwhite;
  }
  .navbar-link-group {
    float: left;
    margin-left: 20vh;
  }
  .navbar-cart {
    font-size: 1.15rem;
  }
  .navbar-link {
    float: left;
    color: $white;
    &:hover {
      color: $primary-color;
    }
    &.active {
      border-color: $primary-color;
      color: $primary-color;
    }
  }
}