.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  background-position: center;
  background-image: url("../images/overlay.png");
  text-align: center;
}
  
.overlay-box {
  background: #05386b;
  opacity: 0.85;
  width: 50%;
  margin: 145px auto;
  padding: 8px;
  font-family: 'Muli', sans-serif;

  h1 {
    font-size: 3rem;
  }

  p {
    margin-top: 35px;
    font-size: 1.3rem;
  }

  .ui.button {
    margin-top: 25px;
  }
}
