/* 
 * CSS for transitions (in conjunction with `react-transition-group`)
 */


// Overlay

.overlay-appear,
.overlay-enter {
  opacity: 0;
}
.overlay-appear.overlay-appear-active,
.overlay-enter.overlay-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.overlay-exit {
  top: 0;
}
.overlay-exit.overlay-exit-active {
  top: -100%;
  transition: top .3s;
}

// Fade

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.fade-exit {
  opacity: 1;
  transform: translate(0, 0);
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transform: translate(0, 3vh);
  transition: opacity 500ms ease-in, transform 1000ms ease-in-out;
}

// Fade Left

.fadeleft-appear,
.fadeleft-enter {
  opacity: 0;
  transform: translateX(20px);
}

.fadeleft-appear.faceleft-appear-active,
.fadeleft-enter.fadeleft-enter-active {
  opacity: 1;
  transform: translateX(0);;
  transition: all 0.6s linear;
}

.fadeleft-exit {
  opacity: 1;
  transform: translateX(0);
}

.fadeleft-exit.fadeleft-exit-active {
  opacity: 0;
  position: absolute;
  width: 100%;
  transform: translateX(-20px);
  transition: all 0.2s linear;
}

// Page Slide

@mixin page-slide($direction, $numSlides) {

}

// -- Slide to the left
.pageslide-left-enter {
  position: absolute;
  // background-color: #EEE;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(100%, 0, 0);
}

.pageslide-left-enter.pageslide-left-enter-active {
  position: absolute;
  // background-color: #EEE;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
  transition: all ease-out 600ms;
}

.pageslide-left-exit {
  transform: translate3d(0, 0, 0);
}

.pageslide-left-exit.pageslide-left-exit-active {
  transform: translate3d(-100%, 0, 0);
  transition: all ease-out 600ms;
}

// -- Slide to the right
.pageslide-right-enter {
  position: absolute;
  // background-color: #EEE;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(-100%, 0, 0);
}

.pageslide-right-enter.pageslide-right-enter-active {
  position: absolute;
  // background-color: #EEE;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
  transition: all ease-out 600ms;
}

.pageslide-right-exit {
  transform: translate3d(0, 0, 0);
}

.pageslide-right-exit.pageslide-right-exit-active {
  transform: translate3d(100%, 0, 0);
  transition: all ease-out 600ms;
}